@media screen and (max-width: 550px) {
    .Footer {
        padding: 10vh 10vw;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
    }

    .Footer .subscribe {
        flex-direction: column;
    }

    .Footer .subscribe input {
        width: 90%;
        margin-bottom: 2vh;
    }

    .Footer .sec2,
    .Footer .sec3 {
        grid-template-columns: 100%;
        text-align: center;
    }

    .Footer .sec2 {
        margin: 12vh 0;
    }

    .Footer .sec1 h1 {
        margin-top: 5vh;
    }
}