.progress-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
}

.container-showTag {
  font-size: 1.3rem;
}

.container-showTag span {
  font-size: 1.6rem;
  font-weight: 550;
}

.container-showTag {
  color: rgb(65, 64, 64);
}