.herosection{
    margin:0;
    padding: 0;
}
.hero-content{
    display: flex;
    flex-direction: row;
    padding: 2rem;
    border:2px solid #ccc;

}

.dsa-photo-1 img{
    margin-top: 3rem;
    width: 20rem;
    height:20rem;
}
.dsa-content{
    margin:1.5rem 4rem;
    
}
.header-dsa{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 0rem;
    font-size: 3.625rem;
    font-weight: 500;
}
.dsa-description{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    max-width: 45rem;
    text-align: justify;

}
.dsa-photo-2 img{
    width: 20rem;
    height:20rem;
}