@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: 'Jost', sans-serif;
}

code {
  font-family: 'Jost', sans-serif;
}